
@{
    ViewBag.Title = "share_daen";
}
@section scripts
{
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5af25c6f711b9d26"></script>
<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5af2676e96e6fc00110b32c0&product=inline-share-buttons">
</script>
}



<h2>作業(文章分享套件)</h2>

<p>AddToAny </p>
<table class="table">
    <!-- AddToAny BEGIN -->
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_google_plus"></a>
        <a class="a2a_button_pinterest"></a>
        <a class="a2a_button_trello"></a>
        <a class="a2a_button_sms"></a>
        <a class="a2a_button_skype"></a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js">
    
    </script>
    <!-- AddToAny END -->
</table>
<p>ShareThis</p>
<div class="sharethis-inline-share-buttons"> </div>

<p>addThis</p>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>
